@model IEnumerable<UsingGoogleMaps2.Models.Pub>
@{
    ViewBag.Title = "ShowAllPubsOnMap";
}

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC_Tm0LskVQEn34c-5WTBMC4velnOZb7vQ&sensor=false"></script>
<style>
    #map_canvas img {
        max-width: none;
    }
</style>
<!-- This css is to give a nice big popup "info window" when a marker is clicked on the map -->
<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>
<h2>These are the pubs that currently has burgains</h2>
<br />
<div id="map_canvas" style="height:600px ;"></div>
<br />
<div>
    @Html.ActionLink("Search Burgains in a specific area", "Index", "Home")
</div>

<!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
@section scripts {
    <section class="scripts">

        <script type="text/javascript">

            $(document).ready(function () {
                initialize();
            });
            function initialize() {

                var dublinCoordinates = new google.maps.LatLng(53.350073, -6.261553);
                // center: new google.maps.LatLng(dublinLat, dublinLong),

                var mapOptions = {
                    center: dublinCoordinates,
                    zoom: 13,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                // This makes the div with id "map_canvas" a google map
                var map = new google.maps.Map(document.getElementById("map_canvas"),
                    mapOptions);

                // This shows adding a simple pin "marker"
                var dublinMarker = new google.maps.Marker({
                    position: dublinCoordinates,
                    map: map,
                    title: 'Dublin'
                });
                // You can make markers different colors
                dublinMarker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');

                var pubs = @Html.Raw(Json.Encode(Model));


                // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins




                $.each(pubs, function (i, item) {
                    var pubmarker = new google.maps.Marker({
                        'position': new google.maps.LatLng(item.Latitude, item.Longitude),
                        'map': map,
                        'title': item.Name
                    });

                    pubmarker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');


                    // put in some information about each json object - in this case, the opening hours.
                    var infowindow = new google.maps.InfoWindow({
                        content: "<div class='infoDiv'><h2>" + item.Name + "</h2>" + "<div><h4>Opening hours: " + item.Info + "</h4></div></div>"
                    });

                    // finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
                    google.maps.event.addListener(pubmarker, 'click', function () {
                        infowindow.open(map, pubmarker);
                    });
                })

            }
        </script>

    </section>
}

