
@{
    ViewBag.Title = "Index";
}

<h2>Are you looking for the best drink deals in town?</h2>

<p>Find out how PubDeals can help you getting the cheapest and best drink deals in town to enjoy your free time in Dublin.</p>
