<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pubdeals.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>pubdeals.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pubDeals</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$pubDeals</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PubDealsDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mh8wtwyvaa.database.windows.net,1433;Initial Catalog=PubDealsDB;User ID=fernando.guardiola.888;Password=X00115925!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="UsingGoogleMaps2.Models.PubDealsDBEntities, UsingGoogleMaps2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PubDealsImagesEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=mh8wtwyvaa.database.windows.net,1433;Initial Catalog=PubDealsImages;User ID=fernando.guardiola.888;Password=X00115925!;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="UsingGoogleMaps2.Models.PubDealsImagesEntities, UsingGoogleMaps2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StorageConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:mh8wtwyvaa.database.windows.net,1433;Initial Catalog=PubDealsDB;User ID=fernando.guardiola.888@mh8wtwyvaa;Password=X00115925!" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=picturespubdealapp;AccountKey=8uczS381nP3Z/QNdABYlaaiqTrYGznzJqtiGDAdcApKM+WnjyMgYIdx5ZTdXZmlzj2TXTWcKcrEgnvXqA2+uKg==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=picturespubdealapp;AccountKey=8uczS381nP3Z/QNdABYlaaiqTrYGznzJqtiGDAdcApKM+WnjyMgYIdx5ZTdXZmlzj2TXTWcKcrEgnvXqA2+uKg==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:mh8wtwyvaa.database.windows.net,1433;Initial Catalog=PubDealsDB;User ID=fernando.guardiola.888@mh8wtwyvaa;Password=X00115925!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:mh8wtwyvaa.database.windows.net,1433;Initial Catalog=PubDealsDB;Integrated Security=False;User ID=fernando.guardiola.888@mh8wtwyvaa;Password=X00115925!;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:mh8wtwyvaa.database.windows.net,1433;Database=PubDealsDB;User ID=fernando.guardiola.888@mh8wtwyvaa;Password=X00115925!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mh8wtwyvaa.database.windows.net,1433;Initial Catalog=PubDealsDB;User ID=fernando.guardiola.888@mh8wtwyvaa;Password=X00115925!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PubDealsDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DatModel.csdl|res://*/Models.DatModel.ssdl|res://*/Models.DatModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:mh8wtwyvaa.database.windows.net,1433;Initial Catalog=PubDealsDB;User ID=fernando.guardiola.888;Password=X00115925!"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PubDealsImagesEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DataModel2.csdl|res://*/Models.DataModel2.ssdl|res://*/Models.DataModel2.msl;provider=System.Data.SqlClient;provider connection string="Data Source=mh8wtwyvaa.database.windows.net,1433;Initial Catalog=PubDealsImages;User ID=fernando.guardiola.888;Password=X00115925!;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StorageConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mh8wtwyvaa.database.windows.net,1433;Initial Catalog=PubDealsDB;User ID=fernando.guardiola.888@mh8wtwyvaa;Password=X00115925!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>